{% extends 'base.html' %}

{% block title %}Football Pool - Add Games{% endblock %}

{% block content %} 

<h1>Football Pool - Add Games</h1>
<br/>

<form action="{% url 'add_games' %}" method="POST">
	{% csrf_token %}

  <table class="table table-striped table-bordered table-hover">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Week</th>
        <th scope="col">Away</th>
        <th scope="col">Score</th> 
        <th scope="col">Home</th> 
        <th scope="col">Score</th>      
      </tr>
    </thead>
    <tbody>      
      <tr>  
        <td>
          <div class="form-group">  
            <input type="text" name="week" value="{{ game_week }}"> 
            <!--           
              <select name="week" id="week">                          
                <option value="1" {% if game_week == option_value %}selected{%endif%}>1</option>
                <option value="2" {% if game_week == option_value %}selected{%endif%}>2</option>
                <option value="3" {% if game_week == option_value %}selected{%endif%}>3</option>
                <option value="4" {% if game_week == option_value %}selected{%endif%}>4</option>
                <option value="5" {% if game_week == option_value %}selected{%endif%}>5</option>
                <option value="6" {% if game_week == option_value %}selected{%endif%}>6</option>
                <option value="7" {% if game_week == option_value %}selected{%endif%}>7</option>
                <option value="8" {% if game_week == option_value %}selected{%endif%}>8</option>
                <option value="9" {% if game_week == option_value %}selected{%endif%}>9</option>
                <option value="10" {% if game_week == option_value %}selected{%endif%}>10</option>
                <option value="11" {% if game_week == option_value %}selected{%endif%}>11</option>
                <option value="12" {% if game_week == option_value %}selected{%endif%}>12</option>
                <option value="13" {% if game_week == option_value %}selected{%endif%}>13</option>
                <option value="14" {% if game_week == option_value %}selected{%endif%}>14</option>
                <option value="15" {% if game_week == option_value %}selected{%endif%}>15</option>
                <option value="16" {% if game_week == option_value %}selected{%endif%}>16</option>
                <option value="17" {% if game_week == option_value %}selected{%endif%}>17</option>
              </select> 
              -->
          </div>
        </td>       
        <td>
          <div class="form-group">              
            <select name="away" id="away">
              <option selected disabled hidden style='display: none' value=''></option>
              <option value="Arizona">Arizona</option>
              <option value="Atlanta">Atlanta</option>
              <option value="Baltimore">Baltimore</option>
              <option value="Buffalo">Buffalo</option>
              <option value="Carolina">Carolina</option>
              <option value="Chicago">Chicago</option>
              <option value="Cincinnati">Cincinnati</option>
              <option value="Cleveland">Cleveland</option>   
              <option value="Dallas">Dallas</option>  
              <option value="Denver">Denver</option>  
              <option value="Detroit">Detroit</option>  
              <option value="Green Bay">Green Bay</option>  
              <option value="Houston">Houston</option>  
              <option value="Indianapolis">Indianapolis</option>  
              <option value="Jacksonville">Jacksonville</option>  
              <option value="Kansas City">Kansas City</option>  
              <option value="Las Vegas">Las Vegas</option>  
              <option value="LA Chargers">LA Chargers</option>  
              <option value="LA Rams">LA Rams</option>  
              <option value="Miami">Miami</option>  
              <option value="Minnesota">Minnesota</option>  
              <option value="New England">New England</option>  
              <option value="New Orleans">New Orleans</option>  
              <option value="NY Giants">NY Giants</option>  
              <option value="NY Jets">NY Jets</option>  
              <option value="Philadelphia">Philadelphia</option>  
              <option value="Pittsburgh">Pittsburgh</option>                
              <option value="San Francisco">San Francisco</option>  
              <option value="Seattle">Seattle</option>  
              <option value="Tampa Bay">Tampa Bay</option>  
              <option value="Tennessee">Tennessee</option>  
              <option value="Washington">Washington</option>   
            </select>    
          </div>
        </td> 
        <td>
          <div class="form-group">              
            <select name="awayscore" id="awayscore">
              <option selected disabled hidden style='display: none' value=''></option>
              <option value="0">0</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>  
              <option value="9">9</option>   
              <option value="10">10</option>   
              <option value="11">11</option>   
              <option value="12">12</option>   
              <option value="13">13</option>   
              <option value="14">14</option>   
              <option value="15">15</option>   
              <option value="16">16</option>  
              <option value="17">17</option>  
              <option value="18">18</option>  
              <option value="19">19</option> 
              <option value="20">20</option> 
              <option value="21">21</option> 
              <option value="22">22</option> 
              <option value="23">23</option> 
              <option value="24">24</option> 
              <option value="25">25</option> 
              <option value="26">26</option> 
              <option value="27">27</option> 
              <option value="28">28</option> 
              <option value="29">29</option> 
              <option value="30">30</option> 
              <option value="31">31</option> 
              <option value="32">32</option> 
              <option value="33">33</option> 
              <option value="34">34</option> 
              <option value="35">35</option> 
              <option value="36">36</option> 
              <option value="37">37</option> 
              <option value="38">38</option> 
              <option value="39">39</option> 
              <option value="40">40</option> 
              <option value="41">41</option> 
              <option value="42">42</option> 
              <option value="43">43</option> 
              <option value="44">44</option> 
              <option value="45">45</option> 
              <option value="46">46</option> 
              <option value="47">47</option> 
              <option value="48">48</option> 
              <option value="49">49</option> 
              <option value="50">50</option> 
              <option value="51">51</option> 
              <option value="52">52</option> 
              <option value="53">53</option> 
              <option value="54">54</option> 
              <option value="55">55</option> 
              <option value="56">56</option> 
              <option value="57">57</option> 
              <option value="58">58</option> 
              <option value="59">59</option> 
              <option value="60">60</option>                  
            </select>    
          </div>  
        </td> 
        <td>
          <div class="form-group">              
            <select name="home" id="home">
              <option selected disabled hidden style='display: none' value=''></option>
              <option value="Arizona">Arizona</option>
              <option value="Atlanta">Atlanta</option>
              <option value="Baltimore">Baltimore</option>
              <option value="Buffalo">Buffalo</option>
              <option value="Carolina">Carolina</option>
              <option value="Chicago">Chicago</option>
              <option value="Cincinnati">Cincinnati</option>
              <option value="Cleveland">Cleveland</option>   
              <option value="Dallas">Dallas</option>  
              <option value="Denver">Denver</option>  
              <option value="Detroit">Detroit</option>  
              <option value="Green Bay">Green Bay</option>  
              <option value="Houston">Houston</option>  
              <option value="Indianapolis">Indianapolis</option>  
              <option value="Jacksonville">Jacksonville</option>  
              <option value="Kansas City">Kansas City</option>  
              <option value="Las Vegas">Las Vegas</option>  
              <option value="LA Chargers">LA Chargers</option>  
              <option value="LA Rams">LA Rams</option>   
              <option value="Miami">Miami</option>  
              <option value="Minnesota">Minnesota</option>  
              <option value="New England">New England</option>  
              <option value="New Orleans">New Orleans</option>  
              <option value="NY Giants">NY Giants</option>  
              <option value="NY Jets">NY Jets</option>  
              <option value="Philadelphia">Philadelphia</option>  
              <option value="Pittsburgh">Pittsburgh</option>                
              <option value="San Francisco">San Francisco</option>  
              <option value="Seattle">Seattle</option>  
              <option value="Tampa Bay">Tampa Bay</option>  
              <option value="Tennessee">Tennessee</option>  
              <option value="Washington">Washington</option>   
            </select>    
          </div>
        </td> 
        <td>
          <div class="form-group">              
            <select name="homescore" id="homescore">
              <option selected disabled hidden style='display: none' value=''></option>
              <option value="0">0</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>  
              <option value="9">9</option>   
              <option value="10">10</option>   
              <option value="11">11</option>   
              <option value="12">12</option>   
              <option value="13">13</option>   
              <option value="14">14</option>   
              <option value="15">15</option>   
              <option value="16">16</option>  
              <option value="17">17</option>  
              <option value="18">18</option>  
              <option value="19">19</option> 
              <option value="20">20</option> 
              <option value="21">21</option> 
              <option value="22">22</option> 
              <option value="23">23</option> 
              <option value="24">24</option> 
              <option value="25">25</option> 
              <option value="26">26</option> 
              <option value="27">27</option> 
              <option value="28">28</option> 
              <option value="29">29</option> 
              <option value="30">30</option> 
              <option value="31">31</option> 
              <option value="32">32</option> 
              <option value="33">33</option> 
              <option value="34">34</option> 
              <option value="35">35</option> 
              <option value="36">36</option> 
              <option value="37">37</option> 
              <option value="38">38</option> 
              <option value="39">39</option> 
              <option value="40">40</option> 
              <option value="41">41</option> 
              <option value="42">42</option> 
              <option value="43">43</option> 
              <option value="44">44</option> 
              <option value="45">45</option> 
              <option value="46">46</option> 
              <option value="47">47</option> 
              <option value="48">48</option> 
              <option value="49">49</option> 
              <option value="50">50</option> 
              <option value="51">51</option> 
              <option value="52">52</option> 
              <option value="53">53</option> 
              <option value="54">54</option> 
              <option value="55">55</option> 
              <option value="56">56</option> 
              <option value="57">57</option> 
              <option value="58">58</option> 
              <option value="59">59</option> 
              <option value="60">60</option>                  
            </select>    
          </div>  
        </td>         
      </tr>                 
    </tbody>
  </table>

  <br/>
  <button type="submit" class="btn btn-secondary">Enter Game</button>
</form>

{% endblock %}