{% extends 'base.html' %}

{% block title %}Football Pool - Calculate Team Scores{% endblock %}

{% block content %} 

<h1>Football Pool - Calculate Team Scores</h1>

<br/>

<form method="POST">
	{% csrf_token %}	

	<div class="form-group">              
		<select name="week" id="week">
			<option selected disabled hidden style='display: none' value=''></option>
			<option value="1">1</option>
			<option value="2">2</option>
			<option value="3">3</option>
			<option value="4">4</option>
			<option value="5">5</option>
			<option value="6">6</option>
			<option value="7">7</option>
			<option value="8">8</option>  
			<option value="9">9</option>   
			<option value="10">10</option>   
			<option value="11">11</option>   
			<option value="12">12</option>   
			<option value="14">14</option>   
			<option value="15">15</option>   
			<option value="16">16</option>   
			<option value="17">17</option>     
		</select>    
	</div>

	<button type="submit" class="btn btn-secondary">Calculate Team Scores</button>
</form>

<hr/>

{% endblock %}