{% extends 'base.html' %}

{% block title %}Football Pool - Home Page{% endblock %}

{% block content %} 

<h1>Football Pool - Home Page</h1>
<br/>

<!--
	{% if all_picks %}
		{% for records in all_picks %}
			Name: {{ records.name }}<br/>
			Email: {{ records.email }}<br/>
			AFC East: {{ records.afce }} -- Points: {{ records.afcescore }}<br/>
			AFC North: {{ records.afcn }} -- Points: {{ records.afcnscore }}<br/>	
			AFC South: {{ records.afcs }} -- Points: {{ records.afcsscore }}<br/>	
			AFC West: {{ records.afcw }} -- Points: {{ records.afcwscore }}<br/>	
			NFC East: {{ records.nfce }} -- Points: {{ records.nfcescore }}<br/>	
			NFC North: {{ records.nfcn }} -- Points: {{ records.nfcnscore }}<br/>	
			NFC South: {{ records.nfcs }} -- Points: {{ records.nfcsscore }}<br/>	
			NFC West: {{ records.nfcw }} -- Points: {{ records.nfcwscore }}<br/>	
			Total Points: {{ records.points }}<br/>			
			<hr/>
		{% endfor %}
	{% endif %}
-->

{% endblock %}